body {
  background-color: lightpink;
  text-align: center:
}
h1 {
  color: deeppink;
  font-family: monospace;
  border-color: hotpink;
  border-width: 3px;
  border-style: double;
}
p {
  color: hotpink;
  font-family: sans-serif;
}
