body {
  background-color: lightpink;
  text-align: center;
}
h1 {
  color: deeppink;
  font-family: monospace;
  border-color: hotpink;
  border-width: 3px;
  border-style: double;
  text-align: center;
  text-shadow: 1px 2px;
}
p {
  color: hotpink;
  font-family: sans-serif;
  text-align: center;
}
